<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182587816745-6tq5o1asv9cg937dfhiaov9icbqkfukg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182587816745-6tq5o1asv9cg937dfhiaov9icbqkfukg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>182587816745-g0pm2mm8qa0q7hmfv4shfcbppsgsvrha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuDieX8GAZGso8WVOA-5rqnPQ5y6xqJcw</string>
	<key>GCM_SENDER_ID</key>
	<string>182587816745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chater</string>
	<key>PROJECT_ID</key>
	<string>chater-b59a0</string>
	<key>STORAGE_BUCKET</key>
	<string>chater-b59a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182587816745:ios:d5f3d5c919e4b4116d9538</string>
</dict>
</plist>